<section class="bg-dark" id="companies">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading"><%= @content['titles']['companies'] %></h2>
				<hr class="primary">
			</div>
		</div>
		<div class="row">
			<div class="wow rollIn col-lg-2 col-xs-4 col-md-3" data-toggle="tooltip" data-placement="bottom" title="Boston Pizza"><img class="img-responsive" src="/img/company-logos/bps.png"></div>
			<div class="wow slideInDown col-lg-2 col-xs-4 col-md-3" data-toggle="tooltip" data-placement="bottom" title="Bycast"><img class="img-responsive" src="/img/company-logos/bycas.png"></div>
			<div class="wow slideInDown col-lg-2 col-xs-4 col-md-3" data-toggle="tooltip" data-placement="bottom" title="Modu-Loc Fence Rentals"><img class="img-responsive" src="/img/company-logos/moduloc.png"></div>
			<div class="wow slideInDown col-lg-2 col-xs-4 col-md-3" data-toggle="tooltip" data-placement="bottom" title="Pacific Blue Cross"><img class="img-responsive" src="/img/company-logos/pacificblue.png"></div>
			<div class="wow slideInDown col-lg-2 col-xs-4 col-md-3" data-toggle="tooltip" data-placement="bottom" title="Sound Effects"><img class="img-responsive" src="/img/company-logos/soundfx.png"></div>
			<div class="wow slideInDown col-lg-2 col-xs-4 col-md-3" data-toggle="tooltip" data-placement="bottom" title="Be Well Together"><img class="img-responsive" src="/img/company-logos/bewell.png"></div>
		</div>
	</div>
</section>
<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>