<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">

			<div class="col-md-6 text-center">
				<h2 class="section-heading">Interactive Learning Management Built for Content Creators</h2>
				<hr class="light">
				<p class="text-faded">
					Fabric strengthens and supports communities of practice. New members are welcomed, their environment is completely personalized and they can quickly meet and connect with peers or potential mentors. As members develop, they can create and follow personalized learning plans, participate in Q&A knowledge building, comment, discuss and live chat.
				</p>
			</div>

			<div class="col-md-6 text-center">
				<h2 class="section-heading">Interactive Learning Management Built for Content Creators</h2>
				<hr class="light">
				<p class="text-faded">
					Fabric can generate adaptive learning experiences that change depending on how well learners perform. Personalized learning plans can be automatically assigned or personally selected based on a learner's goals, interests, role, responsibilities, language, or any other criteria. Learning plans can include both online and classroom-based offerings.
				</p>
			</div>

		</div>
	</div>
</section>